.cont1 h2{
    font-size: 40px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    
}

.lines {
    width: 365px;
    height: 3px;
    background: #2E99A5;
    margin-top: 15px;
    margin-bottom: 35px;
}
.cont1 p {
    width: 560px;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 20px;
}
.quotes{
    background-image: url('/img/mt2.png');
    height: 200px;
    margin-top: 100px;
    background-attachment: fixed;
}
.quotes h3{
    color: white;
    font-size: 17px;
    font-family: 'Kanit';
    font-style: italic;
    padding-top: 50px;
    width: 700px;
    margin-left: 457px;
}
.visi li{
    text-decoration: none;
    color: #000000;
    font-family: 'Kanit';
    font-style: normal;
    margin-top: 7px;

}
.linevm{
    width: 165px;
    height: 3px;
    background: #2E99A5;
    margin-top: 15px;
    margin-left: 135px;
    margin-bottom: 35px;
}
.misi p{
    
    color: #000000;
    font-family: 'Kanit';
    font-style: normal;
    margin-top: 7px;
}
.cont4{
    font-family: 'Kanit';
}
.cont4 h2{
    font-weight: 600;
}
.cont4 h5{
    font-weight: 600;
}
#fas-desc{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    width: 500px;
    margin-bottom: 70px;
    margin-left: 400px;
}
.cont4 p{
    font-weight: 300;
    font-size: 14px;
}

.gallery{
    background-image: url('/img/mt1.png');
    background-attachment: fixed;
    height: 400px;  
}

.gallery h2{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
}